<h2>Places</h2>

  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>

  <p>
   <a class="btn btn-primary" href="/places/new" role="button">Add New Place</a>
  </p>
